<div>
  <!-- <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select a tab</label>
    <select id="tabs" name="tabs" class="block w-full focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
      {% for app_section_item in app_section_list %}
        {% if app_section_item.title == current_app_section.title %}
        <option selected>{{ app_section_item.title }}</option>
        {% else %}
        <option>{{ app_section_item.title }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div> -->
  <!-- <div class="hidden sm:block"> -->
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex" aria-label="Tabs">
        {% for app_section_item in app_section_list %}
          {% if app_section_item.title == current_app_section.title %}
          <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
            <a href="{{ app_section_item.url }}" class="border-indigo-500 text-indigo-600 w-1/4 py-4 px-1 text-center border-b-2 font-medium text-sm" aria-current="page">
              {{ app_section_item.title }}
            </a>
          {% else %}
            <a href="{{ app_section_item.url }}" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 w-1/4 py-4 px-1 text-center border-b-2 font-medium text-sm">
              {{ app_section_item.title }}
            </a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>
  <!-- </div> -->
</div>
